page general "Overview parameters"
page GeArray "Germanium array"
page S800    "S800 Spectrograph"
page Sweeper "Sweeper magnet"
page S800     "Duplicate rejected"
page Thomas   "Thomas's page"

channel sweeper     0
channel masters     1
channel master.live 2
channel s800        3
channel s800.live   4
channel masters     2


foreach page {general GeArray S800 Sweeper} {
  display_single $page masters
  display_single $page master.live
  display_ratio  $page master.live masters
}

display_single S800 s800
display_single S800 s800.live


display_single GeArray ge
display_single GeArray ge.live

display_single Sweeper sweeper
display_single Sweeper sweeper.live



